 <script type="text/ng-template" id="modalDeletePartner.html">
            <div ng-include="'tpl/modalDeletePartner.html'"></div>
          </script>
 <script type="text/ng-template" id="modalSuccessCredentials.html">
            <div ng-include="'tpl/modalSuccessCredentials.html'"></div>
          </script>


<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" >
    <i class="glyph-icon flaticon-sell-product icon " ></i> 
    <spam class="m-n font-thin h3" translate="aside.nav.PARTNERS">Partners </spam> 
    <span class="pull-right">
      <button class="btn btn-primary btn-rounded " ng-click="newPartner()"><I class="fa fa-plus"></I></button>
    </spam>
    
  </h1>
</div>
<div class="wrapper-md"  ng-show="!partnersPending" ui-refresh="partnersPending" >
      <!-- stats -->
      <div class="text-center">
         <i class="fa fa-spin fa-spinner fa-2x "></i> <spam translate="interface.partners.LOADING">Cargando</spam> ...
      </div>

      
    </div>
<div class="wrapper-md" ng-show="partnersPending" ui-refresh="partnersPending"  style = "overflow-x:hidden;"
>


<!-- <div class="container col-lg-12"   > -->

<div class="col-md-12"   >
 <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
      <tabset class="tab-container" >
        <tab>
        <tab-heading>
             <spam translate="interface.partners.ACTIVE"></spam>
        </tab-heading>
          <div class="panel panel-default">
              <div class="table-responsive" style = "overflow-x:hidden;">
               <table ui-jq="dataTable"  id="table2"  ui-options="tbOptionsActive" ui-refresh="partners" class="table table-striped m-b-none">
                <thead>
                  <tr>
                  <th style="width: 15%"><span translate="interface.partners.DATE_REG"></span></th>
                    <th  style="width:20%"><span translate="interface.partners.COMPANY_NAME"></span></th> 
                    <th  style="width:15%"><span translate="interface.partners.ADDRESS"></span></th> 
                    <th  style="width:10%"><span translate="interface.partners.COMPANY_PHONE"></span></th> 
                    <th  style="width:5%"><span translate="interface.partners.EMAIL"></span></th> 
                    <th  style="width:10%"><span translate="interface.partners.PASSWORD"></span></th>    
                    <th  style="width:25%"><span translate="interface.partners.ACTIONS"></span></th>   
                  </tr>
                </thead>
              </table>

              </div> 
            </div>      
            </tab>
        <tab>  
         <tab-heading>
        <spam translate="interface.partners.NEW"> </spam>
         <span class="badge badge-sm up bg-danger pull-right-xs elem" ng-if="news"><i class="fa fa-exclamation"></i></span>
        </tab-heading>
          <div class="panel panel-default">
            <div class="table-responsive">
              
                <table ui-jq="dataTable" id="table1" ui-refresh="partners" ui-options="tbOptionsNew"  class="table table-striped m-b-none">
                  <thead>
                    <tr>
                    <th style="width: 15%"><span translate="interface.partners.DATE_REG"></span></th>
                    <th  style="width:20%"><span translate="interface.partners.COMPANY_NAME"></span></th> 
                    <th  style="width:15%"><span translate="interface.partners.ADDRESS"></span></th> 
                    <th  style="width:10%"><span translate="interface.partners.COMPANY_PHONE"></span></th> 
                    <th  style="width:5%"><span translate="interface.partners.EMAIL"></span></th> 
                    <th  style="width:10%"><span translate="interface.partners.STATUS"></span></th>    
                    <th  style="width:25%"><span translate="interface.partners.ACTIONS"></span></th> 
                     
                    </tr>
                  </thead>
        
                </table>
            </div> 
          </div>
        </tab>

        

       <!--  <tab heading="Asistentes">  
          <div class="panel panel-default">
            <div class="table-responsive">
              <table ui-jq="dataTable"   ui-options="tbOptionsAsistentes" ui-refresh="miembros" class="table table-striped m-b-none">
                <thead>
                  <tr>
                    <th  style="width:25%">Fecha de Regisro</th>
                    <th  style="width:35%">Email</th>
                    <th  style="width:15%">Nombre Registro Fiscal</th> 
                    <th  style="width:25%"></th> 
                  </tr>
                </thead>
              </table>
            </div> 
          </div>
        </tab> -->

      </tabset>
     
    
  

  </div>
</div>

