
  <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        /*.app { background-color: #f0f3f4; }*/
    </style> <!--hbox layout -->
          <!--  <script type="text/ng-template" id="modalConfirm.html">
            <div ng-include="'tpl/modalConfirm.html'"></div>
          </script> -->
              <script type="text/ng-template" id="modalDoneDeleteProduct.html">
            <div ng-include="'tpl/modalDoneDeleteProduct.html'"></div>
          </script>
        <!--   <script type="text/ng-template" id="modalConfirm2.html">
            <div ng-include="'tpl/modalConfirm2.html'"></div>
          </script> -->
           <script type="text/ng-template" id="modalViews.html">
            <div ng-include="'tpl/modalViews.html'"></div>
          </script>
           <script type="text/ng-template" id="modalEditPrices.html">
            <div ng-include="'tpl/modalEditPrices.html'"></div>
          </script>
           <div class="">
   </div>
  <div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.container = false;
  app.settings.asideFolded = true;
  app.hideAside = false;
  app.hideFooter = true;
  app.settings.asideFolded = true;" 
  ng-controller="ProductsPCtrl">

  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner" ui-refresh="categorys">
            <div class="list-group no-radius no-border no-bg m-b-none" ui-refresh="categorys">




              <a class="list-group-item b-b" ng-dblclick="selectCategory({name:''})" ng-class="{'focus': (filter == '')}" ng-click="carga()"><span translate="interface.products.CATEGORYS"></span><span  tooltip-placement="bottom"  tooltip="Doble click para actualizar" class="pull-right text-muted inline wrapper-xs m-r-sm"><i class="fa fa-question"></i></span></a>
              <a ng-repeat="item in categorys | orderBy:'name'" ng-dblclick="editItem(item)" class="list-group-item m-l hover-anchor b-a " ng-class="{'focus m-l-none': item.selected}" ng-click="selectCategory(item)" ui-refresh="categorys">   
                <span  ng-click="openConfirm2(item)" tooltip-placement="left" tooltip="Borrar" class="pull-right text-muted hover-action">
                  <i class="fa fa-times"></i>
                </span>
                <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }" popover="{{item.name}}" popover-trigger="mouseenter" popover-placement="bottom">               
                <span class="block" ng-class="{'m-n': item.selected }">{{ item.name ? item.name : 'Por definir' }}</span>
                <input type="text" class="form-control pos-abt" ng-show="item.editing" ng-blur="doneEditingCategory(item)" ng-model="item.name" style="top:3px;left:2px;width:98%" >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t">
        <!-- <a tooltip="Add Category" href class="btn btn-xs btn-default btn-addon" ng-click="createCategory()"><i class="fa fa-plus fa-fw m-r-xs"></i> <spam translate="interface.products.CATEGORY"></spam></a> -->
      </div>
    </div>
  </div>
  <!-- /column -->
  <!-- column -->
  <div class="col w-lg lter b-r">
    <div class="vbox">
      <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
          <input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="{{category.name ? category.name : 'All'}}" ng-model="query">  
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="m-t-n-xxs">
              <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <a ng-repeat="item in items | filter:{category:filter} | filter:query | orderBy:'productName'" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
                  <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }" popover="{{item.description}}" popover-trigger="mouseenter" popover-placement="bottom">
                    {{ item.productName }} <strong></strong>
                    <span ng-hide="item.productName ">sin name</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(items | filter:{category:filter} | filter:query).length">Vacío</div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t text-center" >
       <!--  <a tooltip="Agregar Profesional" href class="btn btn-xs btn-default btn-addon" ng-click="createItem()" ng-show="items"><i class="fa fa-plus fa-fw m-r-xs"></i> Profesional</a> -->
      </div>
    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="wrapper-sm b-b">
       <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a  class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="openDoneDeleteProduct(item)"><i tooltip="Delete Product" tooltip-placement="left" class="fa fa-times"></i></a>
          <a class="btn btn-xs btn-primary" ng-hide="item.editing || !item" ng-click="editItem(item)"><span translate="interface.products.EDIT"></span></a>
          <a class="btn btn-xs btn-success" ng-show="item.editing" ng-click="doneEditingProduct(item)"><span translate="interface.products.SAVE_CHANGES"></span></a>
        </div>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            
            <div class="wrapper-md" ng-if="!item.editing">
              <div class="hbox h-auto m-b-lg">
                <div class="col text-center w-sm"  ng-show="item.productName && !item.editing">
                  <div class="thumb-xl avatar inline">
                  <img src="{{item.images[0]}}" ng-hide="item.editing || !item.productName">
                  </div>
                  <div ng-show="item.selected && !item.editing">
                    <a class="btn btn-rounded  btn-icon btn-info pull-right"  ng-click="openViews(item)"
                     > 
                      <i class="icon icon-eye  block m-b-xs fa-1x"></i>
                    </a>
                  </div> 
                </div>

                <div class="col-lg-18" ng-show="item.productName && !item.editing" ng-hide="item.editing || !item.productName" style="padding-left: 10px;">
                  <strong><span translate="interface.products.PRODUCT_NAME"></span></strong>
                  <span class="text-center">{{item.productName}}</span>
                  <p></p>
                 
                  <p></p>
                  <div ng-show="item.reservationRequired">  
                    <strong> <span translate="interface.products.RESERVATION_REQUIRED"></span> </strong>
                    <span class="badge bg-success text-white ">    
                    <i class="fa fa-check icon-success"></i></span>
                  </div>
                  <p></p>
                  <strong> <span translate="interface.products.CATEGORY"></span></strong>
                  <span class="form-control-static" >{{item.category}}</span>
                  <p></p>
                  <strong> <span translate="interface.products.COMPANY_NAME"></span> </strong>
                  {{item.companyName}}  
                  <p></p>
                   <strong> <span translate="interface.products.STATUS"></span> </strong>
                 {{item.status}}   
                </div>
              </div>

              <div class="form-group" ng-show="item && !item.editing" >
                <strong> <span class="col-sm-2" translate="interface.products.DESCRIPTION"></span> </strong>   
                    <div class="col-sm-9">
                     {{item.description}}
                    </div>
              </div>

            </div>

            

           

            <div class="wrapper-md">
              <form name="form1" class="form-horizontal form-validation" ng-show="item.editing">
                <div class="form-group" ng-show="item.editing">
                  <label class="col-sm-3 control-label"  translate="interface.products.PRODUCT_NAME"></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control rounded" ng-model="item.productName" required >
                  </div>
                </div>

                <div class="form-group"  >
                  <div class="col-sm-3 control-label" >
                        <span translate="interface.products.CATEGORY"></span>      
                  </div>  

                  <div class="col-sm-9">
                    <ui-select ng-model="item.category" theme="bootstrap" >
                          <ui-select-match >{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices group-by="'name'" repeat="item.name as item in categorys | filter: $select.search">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                          </ui-select-choices>
                    </ui-select>
                  </div>
                </div>

               <!--  <div class="form-group"  >
                  <div class="col-sm-3 control-label" >
                        <span translate="interface.products.COMPANY_NAME"></span>      
                  </div>  
                  
                  <div class="col-sm-9">
                   <ui-select ng-model="item.companyName" theme="bootstrap" ng-show="item.editing">
                      <ui-select-match placeholder="Company Name">{{$select.selected.companyName}}</ui-select-match>
                      <ui-select-choices group-by="'item.companyName'" repeat="item.companyName as item in partners | filter: $select.search">
                        <span ng-bind-html="item.companyName | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>  --> 

                <div class="form-group" >
                  <label class="col-sm-3 control-label"  translate="interface.products.DESCRIPTION"></label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="4" ng-model="item.description"> </textarea>                      
                  </div>
                </div>
              </form>
            </div>

             <div class="wrapper-md" >
             <!--  <div class="btn-edit" ng-show="item">
                  <button type="button" class="btn btn-primary btn-xs "  ng-click="openEditPrices(item)">
                   <span translate="interface.products.EDIT_PRICES"></span>
                  </button>
                </div> -->
              <table class="table table-striped m-b-none" ng-show="item" ui-refresh="item">
                <thead>
                  <tr>
                    <th style="width:60px;" class="text-center" translate="interface.products.TYPE_PRICE"></th>
                    <th class="text-center" style="width:60px;" translate="interface.products.PRICE"></th> 
                    <th style="width:70px;" class="text-center" translate="interface.products.TYPE_COMMISSION"></th>  
                    <th style="width:70px;" class="text-center" translate="interface.products.COMMISSION"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="item" ui-refresh="item" ng-repeat="item in item.itemsPrices">                    
                    <td class="text-center">
                    {{item.label}}
                    </td>
                    <td class="text-center">{{item.price}}</td>
                    <td ng-if="item.checked == 'percentage'" class="text-center">
                     <span translate="interface.products.PERCENTAGE"></span>
                    </td>
                    <td ng-if="item.checked == 'fixed'" class="text-center">
                     <span translate="interface.products.FIXED_AMOUNT"></span>
                    </td>
                    <td class="text-success text-center" ng-if="item.checked == 'percentage'">
                      {{item.commissionP}} %
                    </td>
                     <td class="text-success text-center" ng-if="item.checked == 'fixed'" >
                      {{item.commissionF}} 
                    </td>
                  </tr>

                </tbody>
              </table>
             
             </div>

           
             

              <div  class="m-b-md" ng-hide="!item" ui-refresh="alerts">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>

<!-- /hbox layout
