
  <style>
       
    </style> 
      
          <script type="text/ng-template" id="modalDoneDeleteProduct.html">
            <div ng-include="'tpl/modalDoneDeleteProduct.html'"></div>
          </script>        
           <script type="text/ng-template" id="modalViews.html">
            <div ng-include="'tpl/modalViews.html'"></div>
          </script>
           <script type="text/ng-template" id="modalInfo.html">
            <div ng-include="'tpl/modalInfo.html'"></div>
          </script>
           <script type="text/ng-template" id="modalEditPricesP.html">
            <div ng-include="'tpl/modalEditPricesP.html'"></div>
          </script>
          

<div class="wrapper-md" ng-show="!categorys" ui-refresh="categorys" ng-controller="ProductsPCtrl" style="padding: 252px 0px 0px 540px;">
      <!-- stats -->
  <div class="text-center">
     <i class="fa fa-spin fa-spinner fa-2x "></i> Loading ...
  </div>      
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.container = false;
  app.settings.asideFolded = true;
  app.hideAside = false;
  app.hideFooter = true;
  app.settings.asideFolded = true;" 
  ng-controller="ProductsPCtrl" ng-hide="!categorys">
  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner" ui-refresh="categorys">
            <div class="list-group no-radius no-border no-bg m-b-none" ui-refresh="categorys">
              <a class="list-group-item b-b" ng-click="selectCategory({name:''})" ng-class="{'focus': (filter == '')}" ><span translate="interface.products.ALLF"></span><span  tooltip-placement="bottom"   class="pull-right text-muted inline wrapper-xs m-r-sm"><i class="fa fa-refresh"></i></span></a>
              <a ng-repeat="item in categorys | orderBy:'name'" class="list-group-item m-l hover-anchor b-a " ng-class="{'focus m-l-none': item.selected}" ng-click="selectCategory(item)" ui-refresh="categorys">   
              <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }" popover="{{item.name}}" popover-trigger="mouseenter" popover-placement="bottom"> 
              <span class="block" ng-class="{'m-n': item.selected }">{{ item.name ? item.name : 'Por definir' }}</span>
                <input type="text" class="form-control pos-abt" ng-show="item.editing" ng-blur="doneEditingCategory(item)" ng-model="item.name" style="top:3px;left:2px;width:98%" >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t">
      
      </div>
    </div>
  </div>
  <!-- /column -->
  <!-- column -->
  <div class="col w-lg lter b-r">
    <div class="vbox">
      <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
          <input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="{{category.name ? category.name : 'All'}}" ng-model="query">  
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="m-t-n-xxs">
              <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <a ng-repeat="item in items | filter:{category:filter} | filter:query | orderBy:'productName'" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
                  <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }" >{{ item.productName }} <strong></strong>
                    <span ng-hide="item.productName ">sin name</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(items | filter:{category:filter} | filter:query).length">Vacío</div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t text-center" >
      </div>
    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col ">
    <div class="vbox">
      <div class="wrapper-sm b-b">
       <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a  class="btn btn-lg  btn-default pull-right rounded" ng-hide="!item || !item.selected" ng-click="openDoneDeleteProduct(item)"><i tooltip="Delete Product" tooltip-placement="left" class="fa fa-trash"></i></a>
          <a class="btn btn-lg btn-default rounded" ng-hide="item.editing || !item.selected" ng-click="editItem(item)">
          <i class="fa fa-edit"></i>
          </a>
          <a class="btn btn-lg btn-success rounded" ng-show="item.editing" ng-click="doneEditingProduct(item)">
          <i class="fa fa-save"></i>
          </a>
          <button type="button" class="btn btn-default btn-lg rounded no-border"  ng-hide="item.editing || !item.selected" ng-click="openEditPrices(item)">
                   <i class="fa fa-edit"></i>
                   <span translate="interface.products.PRICES"></span>
                  </button>
        </div>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
              



             <div class="col-lg-8"  ng-show="item.productName && !item.editing" >
      <div class="">
        <div class="">
          <div class="clearfix text-center m-t">
                <div class="col-sm-12 pull-right" style="padding-top: 30px;">

            <div class="inline pull-right" style="background-color: white; padding: 10px; border-radius: 10px; box-shadow:       5px 5px 17px 0px rgba(44, 50, 50, 0.14);">
              <div class="item avatar2" ng-click="openViews(item)">
                <div class="pos-rlt">
                  <div class="item-overlay bg-black-opacity"  ng-hide="item.editing || !item.productName">
                    <div class="center text-center m-t-n w-full">
                      <a><i class="fa fa-2x fa-eye text-white"></i></a>
                    </div>
                  </div>
                  <a><img src="{{item.images[0]}}" alt="" class="img-full" ng-if="item.productName"></a>
                </div>
              </div>
              <span  style="font-weight: bold;"><h3><b>{{item.productName}}</b></h3></span>
              <small class="text-muted m-b">                 
              <table class="table table-striped m-b-none" ng-show="item" ui-refresh="item">
                <thead>
                  <tr>
                    <th style="width:60px;" class="text-center" translate="interface.products.TYPE_PRICE"></th>
                    <th class="text-center" style="width:70px;" translate="interface.products.PRICE"></th>
                    <th class="text-center" style="width:60px;" translate="interface.products.PRICE_NET "></th>  
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="item" ui-refresh="item" ng-repeat="item in item.itemsPrices">                    
                    <td class="text-center">
                    {{item.label}}
                    </td>
                    <td class="text-center">$ {{item.price}}</td>
                    <td class="text-center">$ {{item.netPrice}}</td>
                 
                  </tr>
                </tbody>
              </table>
              </small>
            </div>          
          </div>
        </div>
        <footer class="panel-footer bg-info text-center no-padder">
        

        </footer>
      </div>
    </div>


            </div>
            <div class="col-lg-2 text-center"  ng-show="item.productName && !item.editing" style="padding-top: 90px;" >
                     <div  ng-show="item.selected && !item.editing" >
                    <a class="btn btn-rounded  "   ng-click="openViews(item)"
                     > 
                     <i class="fa fa-picture-o fa-2x" ></i>
                    
                    </a>
                  </div> 
                   <div  ng-show="item.selected && !item.editing" popover="{{item.description}}" popover-trigger="mouseenter" popover-placement="left">
                    <a class="btn btn-rounded  "   ng-click="openInfo(item)"
                     > 
                     <i class=" fa fa-info fa-2x" ></i>
                     
                    </a>

                  </div> 
                 
                </div>
            

           

            <div class="wrapper-md" ng-show="item.editing">
              <form name="form1" class="form-horizontal form-validation" ng-show="item.editing">
                <div class="form-group" ng-show="item.editing">
                  <label class="col-sm-3 control-label"  translate="interface.products.PRODUCT_NAME"></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control rounded" ng-model="item.productName" required >
                  </div>
                </div>
                <div class="form-group">
              <label class="col-sm-3 control-label"  translate="interface.products.IMAGES"></label>
              <div class="col-sm-7">
                <input type="file" nv-file-select="" uploader="uploader" multiple  />  
              </div>
            </div>
                 <div class="form-group" >
                  <div class="col-sm-3">  
                    <img src="img/photos.png" style="padding-left:20px;">
                  </div>
                  <div class="col-sm-9">
            <div class="wrapper-md">
      <table class="table bg-white-only b-a">
          <thead>
              <tr>
                  <th width="50%"><span translate="interface.fileUpload.NAME"></span></th>
                  <th ng-show="uploader.isHTML5"><span translate="interface.fileUpload.SIZE"></span></th>
                  <th ng-show="uploader.isHTML5"><span translate="interface.fileUpload.PROGRESS"></span></th>
                  <th><span translate="interface.fileUpload.STATUS"></span></th>
                  <th><span translate="interface.fileUpload.ACTIONS"></span></th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                      <div class="progress progress-sm m-b-none m-t-xs">
                          <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td class="text-center">
                      <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          <span translate="interface.fileUpload.UPLOAD"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                          <span translate="interface.fileUpload.CANCEL"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                          <span translate="interface.fileUpload.REMOVE"></span>
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div>
        <div>
          <p><span translate="interface.fileUpload.QUEUE_PROGRESS"></span></p>
          <div class="progress bg-light dker" style="">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-addon btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <i class="fa fa-arrow-circle-o-up"></i> <span translate="interface.fileUpload.UPLOAD_ALL"></span>
        </button>
        <button type="button" class="btn btn-addon btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <i class="fa fa-ban"></i> <span translate="interface.fileUpload.CANCEL_ALL"></span>
        </button>
        <button type="button" class="btn btn-addon btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <i class="fa fa-trash-o"></i> <span translate="interface.fileUpload.REMOVE_ALL"></span>
        </button>
      </div>
    </div>
    </div>
    </div>  

                <div class="form-group" >
                  <label class="col-sm-3 control-label"  translate="interface.products.DESCRIPTION"></label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="4" ng-model="item.description"> </textarea>                      
                  </div>
                </div>
                 <div class="form-group" >
                  <label class="col-sm-3 control-label"  translate="interface.products.NOTES"></label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="5" ng-model="item.notes"> </textarea>                      
                  </div>
                </div>
                  <div class="form-group"  >
                  <div class="col-sm-3 control-label" >
                        <span translate="interface.products.CATEGORY"></span>      
                  </div>  

                  <div class="col-sm-9">
                      <ui-select multiple ng-model="item.category" theme="bootstrap" ng-disabled="disabled">
                    <ui-select-match placeholder="Category...">{{$item.name}} </ui-select-match>
                    <ui-select-choices group-by="someGroupFn" repeat="item.name as item in categorys | propsFilter: {name: $select.search}">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                 
                    </ui-select-choices>
                  </ui-select>
                  </div>
                </div>


                
 <div class="form-group">
          <label class="col-sm-3 control-label" translate="interface.products.RESERVATION_REQUIRED"></label>
          <div class="col-sm-7">
            <label class="checkbox-inline i-checks" ng-click="activeBooking()">
              <input type="checkbox" value="option1" ng-model="item.reservationRequired" ><i></i> 
            </label>
          </div>
        </div>

<div id="booking" class="form-group bg-warning"  ng-show="item.reservationRequired" style="padding-bottom:50px;">
          <br/><br/>
          <spam style="font-size:50px;padding-left: 24px;" class="m-n font-thin h3 ng-scope" translate="interface.products.BOOKING_SETTINGS"></spam>
          <p></p>
          <div class="form-group">  
          <div class="form-group">
           <label class="col-sm-4  control-label text-dark" style="font-size:20px; text-align:center"  translate="interface.products.UNAVAILABILITY"></label>
                <div class="col-sm-10" style="padding:16px 0px 0px 59px;">
                  <label class="checkbox-inline i-checks">
                    <input type="checkbox" value="true" ng-model="item.mo" ng-click="selectDay(item)"><i></i> <label translate="interface.products.MO"></label>
                  </label>
                  <label class="checkbox-inline i-checks">
                    <input type="checkbox" value="true"  ng-model="item.tu" ng-click="selectDay(item)"><i></i>  <label translate="interface.products.TU"></label>
                  </label>
                  <label class="checkbox-inline i-checks">
                    <input type="checkbox" value="true"  ng-model="item.we" ng-click="selectDay(item)"><i></i>  <label translate="interface.products.WE"></label>
                  </label>
                   <label class="checkbox-inline i-checks">
                    <input type="checkbox" value="true"  ng-model="item.th" ng-click="selectDay(item)"><i></i>  <label translate="interface.products.TH"></label>
                  </label>
                   <label class="checkbox-inline i-checks">
                    <input type="checkbox" value="true"  ng-model="item.fr" ng-click="selectDay(item)"><i></i>  <label translate="interface.products.FR"></label>
                  </label>
                   <label class="checkbox-inline i-checks">
                    <input type="checkbox" value="true"  ng-model="item.sa" ng-click="selectDay(item)"><i></i>  <label translate="interface.products.SA"></label>
                  </label>
                   <label class="checkbox-inline i-checks">
                    <input type="checkbox" value="true"  ng-model="item.su" ng-click="selectDay(item)"><i></i>  <label translate="interface.products.SU"></label>
                  </label>
                </div>
              </div>
            <div class="col-sm-5 col-sm-offset-1">
             
              
              <br/>
              <div class="col-sm-6"style="color:black; height: 100%; width: 100%;background-color: white; padding: 10px; border-radius: 10px; box-shadow:       5px 5px 17px 0px rgba(44, 50, 50, 0.14);" >
                <multiple-date-picker ng-model="item.unavailability" disallow-back-past-months="true" week-days-off="weekOff"> </multiple-date-picker>
              </div> 
            </div>
            <div class="col-sm-6">
              <br></br>
              <label class="col-sm-4  control-label text-dark"  translate="interface.products.CAPACITY" style="font-size:20px;margin: 0px 0px 0px 0px;"></label>
              <div class="col-sm-5"  style="margin:10px 0px 0px 0px;">
                <input type="number"  class="form-control rounded font-bold"  ng-model="item.capacity" min="0" style="font-size:25px;">
              </div>
              <div class="col-sm-5 col-sm-offset-2" >
                <div class="radio">
                  <label class="i-checks">
                    <input type="radio" name="a" value="global" ng-model="item.capacityType">
                    <i></i>
                    Global
                  </label>
                </div>
                <div class="radio">
                  <label class="i-checks">
                    <input type="radio" name="a" value="pschedule" checked ng-model="item.capacityType">
                    <i></i>
                    P/Schedule
                  </label>
                </div>
              </div>
              <br></br>
              <label class="col-sm-7   control-label text-dark"  translate="interface.products.DURATION" style="padding-top:47px;font-size:20px;"></label>
              <div class="col-sm-4" style="padding-top:15px;">
                <timepicker ng-model="item.duration" ng-change="changed()" hour-step="hstep2" minute-step="mstep2" show-meridian="false"  class="font-bold" style="font-size:25px;"></timepicker>
              </div>
              <br></br>
              <label class="col-sm-4  control-label text-dark" style="font-size:20px;padding-top:15px;"  translate="interface.products.SCHEDULES" ></label>
              <div class="col-sm-1" style="padding-top:10px;" >
                <a  class="btn btn-xs btn-success rounded t pull-left"  ng-click="addSchedule() "><i  class="fa fa-plus" ></i></a>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                      <div class="col-sm-12" style="padding-top:25px;" ui-refres="itemsSchedules">
                    <ui-select multiple ng-model="item.itemsSchedules" theme="bootstrap" ng-disabled="disabled" style="background-color: white; padding: 10px; border-radius: 10px; box-shadow:       5px 5px 17px 0px rgba(44, 50, 50, 0.14);">
                      <ui-select-match placeholder="Select..." style="padding:0px 0px 0px 6px;">{{$item.description}} </ui-select-match>
                      <ui-select-choices group-by="someGroupFn" repeat="item.description as item in itemsSchedules | propsFilter: {description: $select.search}">
                        <div ng-bind-html="item.description | highlight: $select.search"></div> 
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <br/>        
        </div>
      </form>
            </div>
              <div  class="m-b-md" ng-hide="!item" ui-refresh="alerts">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>


