
<div class="modal-body no-border">
    
    <div class="row">
    <div class="col-md-12">
      <div class="">
        <!-- <div class="panel-heading no-border bg-primary">          
          <span class="text-lt pull" >.</span>
              <span class="badge bg-success text-white 	pull-right">{{item.category}}</span>
        </div> -->
        <div class="">
          <!-- <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
            <rating ng-model="x" max="5" state-on="'fa fa-star text-white'" state-off="'fa fa-star-o text-white'"></rating>
          </div> -->
      
     <!--     <carousel interval="myInterval">
          <slide ng-repeat="slide in item.images" >
            <img ng-src="{{slide}}" class="img-full">
       
            
          </slide>
        </carousel> -->
        <!-- {{item.texto}} -->
        <div class="text-center">
          <i class="fa fa-check fa-5x text-center text-success"> </i>

        </div>
         <div  style="font-size: 20px;">
        

             {{item.men}} 
        </div>

       
      </div>
    </div>
<!--    
<h3 class="modal-title">{{item.productName}}  <button class="btn btn-default rounded pull-right" ng-click="cancel()"><i class="fa fa-close"></i></button></h3>
      <span class="text-lt pull" >{{item.description}}</span> -->
    </div>
</div>
</div>
<!-- <div class="modal-footer">                  
  
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div> -->
