
<div class="modal-body no-border">
    
    <div class="row">
    <div class="col-md-12">
      <div class="panel b-a">
        <!-- <div class="panel-heading no-border bg-primary">          
          <span class="text-lt pull" >.</span>
              <span class="badge bg-success text-white 	pull-right">{{item.category}}</span>
        </div> -->
        <div class="item m-l-n-xxs m-r-n-xxs">
         <!--  <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
            <rating ng-model="x" max="5" state-on="'fa fa-star text-white'" state-off="'fa fa-star-o text-white'"></rating>
          </div> -->
            <input type="text" name="" ng-model="item.mensage" style="font-size: 36" placeholder="...what do you want?">
       
      </div>
    </div>
   

    </div>
</div>
<!-- <div class="modal-footer">                  
  
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div> -->
