<div class="modal-header">
    <h3 class="modal-title"> <i class="glyphicon glyphicon-trash" ></i> <span translate="interface.products.DELETE_PRODUCT"></span></h3>
</div>
<div class="modal-body">
 
      <div class="row" >
        <div class="form-group">
          <div class="col-sm-12">
            <span translate="interface.products.TEXT_DELETE_PRODUCT"></span>
          </div>  
        </div>
      </div>
</div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default btn-rounded" id="no" ng-click="cancel()"><span translate="interface.products.NO"></span></button>
    <button class="btn btn-danger btn-rounded" ng-click="okDoneDeleteProduct(item)"><span translate="interface.products.YES"></span></button>
</div>