<div class="modal-header">
    <h3 class="modal-title"> <i class="glyphicon glyphicon-trash" ></i> <span translate="interface.partners.DELETE_PARTNER"></span></h3>
</div>
<div class="modal-body">
 
      <div class="row" >
        <div class="form-group">
          <div class="col-sm-12">
            <span translate="interface.partners.TEXT_DELETE_PARTNER"></span>
          </div>  
        </div>
      </div>
</div>
<div class="modal-footer">                  
     <button class="btn btn-default btn-rounded" id="no" ng-click="cancel()"><span translate="interface.partners.NO"></span></button>  
       <button class="btn btn-danger btn-rounded" ng-click="okDoneDeletePartner(item)"><span translate="interface.partners.YES"></span></button>
</div>
