<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
   <div class="wrapper-md  col-md-12" ng-controller="ProfileCtrl" ng-show="{{app.level == '3'}}">

    <div class="panel panel-default">
    <div style="background:url(img/bg.jpg) center center; background-size:cover">
        <div class="wrapper-lg bg-white-opacity" style=" background-color:rgba(255, 255, 255, 0.81);">
          <div class="row m-t">
            <div class="col-sm-7">
              <a href class="thumb-lg pull-left m-r">
                <img src="img/user.png" class="img-circle">
              </a>
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">{{item.name}} {{item.lastName}}</span>
                   <span class="h2 ">{{app.email}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-5 m-t">
             <label class="col-sm-12 control-label" translate="interface.all.PROFILE_TYPE"></label>
             <div class="col-sm-12">
                <span translate="interface.all.PUBLIC"> </span>
                <label class="i-switch bg-primary m-t-xs m-r">
                  <input type="radio"  value="public" ng-model="item.checked" checked ng-change="change()" >
                  <i></i>
                  </label>

                <span translate="interface.all.PRIVATE"></span>
                <label class="i-switch bg-primary m-t-xs m-r">
                <input type="radio"  value="private" ng-model="item.checked" ng-change="change()">
                <i></i>
                </label>
              </div>
              <div class="col-sm-12">
                 <button type="submit" class="btn btn-rounded btn-success m-t" ng-show="item.editing" ng-click="saveChangesV(item)" translate="interface.all.SAVE"></button>
              </div>
        
            </div>
          
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="line line-dashed b-b line-lg "></div>

     
        <form class="form-horizontal" method="get">
         <div class="panel font-bold">
         <span translate="interface.vendors.PERSONAL_INFO"></span><span style="color:red;">*</span>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.NAME"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.name" ng-change="change()" >                        
            </div>
          </div>  

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.LAST_NAME"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.lastName" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.PHONE"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.phone" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.EMAIL"></label>
            <div class="col-sm-3">
              <input type="email" class="form-control rounded" ng-model="item.email" ng-change="change()">                        
            </div>
          </div>

           <div class="line line-dashed b-b line-lg "></div>
            <div class="panel font-bold">
              <span translate="interface.vendors.COMPANY_INFO"></span>
            </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.COMPANY"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.company" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.JOB_TITTLE"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.jobTittle" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.COUNTRY"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.country.name" disabled="disabled">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.CITY"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.city" ng-change="change()">                        
            </div>
          </div>

          

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.WORK_PHONE"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.workPhone" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" translate="interface.vendors.WORK_EMAIL"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.workEmail" ng-change="change()">                        
            </div>
          </div>
        
          <div class="line line-dashed b-b line-lg "></div>
           <div class="panel font-bold">
              <span translate="interface.vendors.FINANCIAL_INFO"></span>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" translate="interface.vendors.BANK_NAME"></label>
              <div class="col-sm-3">
                <input type="text" class="form-control rounded" ng-model="item.bankName" ng-change="change()">                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" translate="interface.vendors.ACCOUNT_TYPE"></label>
              <div class="col-sm-3">
                <input type="text" class="form-control rounded" ng-model="item.accountType" ng-change="change()">                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" translate="interface.vendors.ROUTING"></label>
              <div class="col-sm-3">
                <input type="text" class="form-control rounded" ng-model="item.routing" ng-change="change()">                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" translate="interface.vendors.ACCOUNT"></label>
              <div class="col-sm-3">
                <input type="text" class="form-control rounded" ng-model="item.account" ng-change="change()">                        
              </div>
            </div>

          
          <div class="line line-dashed b-b line-lg "></div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-9">
         
              <button type="submit" ng-show="item.editing" class="btn btn-rounded btn-success" ng-click="saveChangesV(item)" translate="interface.all.SAVE"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- PARTNER ##########################3 -->
   <div class="wrapper-md  col-md-12" ng-controller="ProfileCtrl" ng-show="{{app.level == '2'}}">

    <div class="panel panel-default">
    <div style="background:url(img/bg.jpg) center center; background-size:cover">
        <div class="wrapper-lg bg-white-opacity" style=" background-color:rgba(255, 255, 255, 0.81);">
          <div class="row m-t">
            <div class="col-sm-7">
              <div class="col text-center w-sm"  >
                  <div class="thumb-xl avatar inline">
                  <img src="{{item.images[0]}}" >
                  </div>
            </div>
              
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">{{item.repName}} ({{item.companyName}})</span>
                   <span class="h2 ">{{item.repEmail}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-5 m-t">
             <label class="col-sm-12 control-label" translate="interface.all.PROFILE_TYPE"></label>
             <div class="col-sm-12">
                <span translate="interface.all.PUBLIC"> </span>
                <label class="i-switch bg-primary m-t-xs m-r">
                  <input type="radio"  value="public" ng-model="item.checked" checked ng-change="change()">
                  <i></i>
                  </label>

                <span translate="interface.all.PRIVATE"></span>
                <label class="i-switch bg-primary m-t-xs m-r">
                <input type="radio"  value="private" ng-model="item.checked" ng-change="change()">
                <i></i>
                </label>
              </div>
              <div class="col-sm-12">
                 <button type="submit" class="btn btn-rounded btn-success m-t" ng-show="item.editing" ng-click="saveChangesP(item)" translate="interface.all.SAVE"></button>
              </div>
        
            </div>
          
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="line line-dashed b-b line-lg "></div>

     
        <form class="form-horizontal" method="get">
         <div class="panel font-bold">
         <span translate="interface.partners.COMPANY_REP_INFO"></span>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.REP_NAME"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.repName" ng-change="change()" >                        
            </div>
          </div>  

         

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.REP_PHONE"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.repPhone" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.REP_EMAIL"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="email" class="form-control rounded" ng-model="item.repEmail" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.REP_TITTLE"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.repTittle" ng-change="change()">                        
            </div>
          </div>

           <div class="line line-dashed b-b line-lg "></div>
            <div class="panel font-bold">
              <span translate="interface.partners.FINANCIAL_REP_INFO"></span>
            </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.FINANCIAL_REP"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.repFinancialName" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.FINANCIAL_REP_EMAIL"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="email" class="form-control rounded" ng-model="item.repFinancialEmail" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.BANK_NAME"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.bankName" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.ACCOUNT_TYPE"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.accountType" ng-change="change()">                        
            </div>
          </div>

          

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.ACCOUNT"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.account" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.ROUTING"></label><span style="color:red;">*</span>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.routing" ng-change="change()">                        
            </div>
          </div>
        
          <div class="line line-dashed b-b line-lg "></div>
           <div class="panel font-bold">
              <span translate="interface.partners.COMPANY_INFO"></span>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" translate="interface.partners.COMPANY_NAME"></label><span style="color:red;">*</span>
              <div class="col-sm-3">
                <input type="text" class="form-control rounded" ng-model="item.companyName" ng-change="change()">                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" translate="interface.partners.ADDRESS"></label><span style="color:red;">*</span>
              <div class="col-sm-3">
                <input type="text" class="form-control rounded" ng-model="item.address" ng-change="change()">                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" translate="interface.partners.EMAIL"></label><span style="color:red;">*</span>
              <div class="col-sm-3">
                <input type="email" class="form-control rounded" ng-model="item.email" ng-change="change()">                        
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" translate="interface.partners.WEB"></label><span style="color:red;">*</span>
              <div class="col-sm-3">
                <input type="text" class="form-control rounded" ng-model="item.url" ng-change="change()">                        
              </div>
            </div>

          
          <div class="line line-dashed b-b line-lg "></div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-9">
         
              <button type="submit" ng-show="item.editing" class="btn btn-rounded btn-success" ng-click="saveChangesP(item)" translate="interface.all.SAVE"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



  <!-- FIN PARTNER ########################### -->


   <!-- ADMIN ##########################3 -->
   <div class="wrapper-md  col-md-12" ng-controller="ProfileCtrl" ng-show="{{app.level == '1'}}">

    <div class="panel panel-default">
    <div style="background:url(img/bg.jpg) center center; background-size:cover">
        <div class="wrapper-lg bg-white-opacity" style=" background-color:rgba(255, 255, 255, 0.81);">
          <div class="row m-t">
            <div class="col-sm-7">
              <a href class="thumb-lg pull-left m-r">
                <img src="img/userHello.png" class="img-circle">
              </a>
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">{{item.name}} </span>
                   <span class="h2 ">{{item.email}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-5 m-t">
             <!-- <label class="col-sm-12 control-label" translate="interface.all.PROFILE_TYPE"></label>
             <div class="col-sm-12">
                <span translate="interface.all.PUBLIC"> </span>
                <label class="i-switch bg-primary m-t-xs m-r">
                  <input type="radio"  value="public" ng-model="item.checked" checked>
                  <i></i>
                  </label>

                <span translate="interface.all.PRIVATE"></span>
                <label class="i-switch bg-primary m-t-xs m-r">
                <input type="radio"  value="private" ng-model="item.checked">
                <i></i>
                </label>
              </div> -->
              <div class="col-sm-12">
                 <button type="submit" class="btn btn-rounded btn-success m-t" ng-show="item.editing" ng-click="saveChangesA(item)" translate="interface.all.SAVE"></button>
              </div>
        
            </div>
          
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="line line-dashed b-b line-lg "></div>

     
        <form class="form-horizontal" method="get">
         <div class="panel font-bold">
         <!-- <span translate="interface.partners.COMPANY_REP_INFO"></span> -->
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.NAME"></label>
            <div class="col-sm-3">
              <input type="text" class="form-control rounded" ng-model="item.name" ng-change="change()" >                        
            </div>
          </div>  

         

      

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.partners.EMAIL"></label>
            <div class="col-sm-3">
              <input type="email" class="form-control rounded" ng-model="item.email" ng-change="change()">                        
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" translate="interface.vendors.PASSWORD"></label>
            <div class="col-sm-3">
              <input type="password" class="form-control rounded" ng-model="item.password" ng-change="change()">                        
            </div>
          </div>
      

          
          <div class="line line-dashed b-b line-lg "></div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-9">
         
              <button type="submit" ng-show="item.editing" class="btn btn-rounded btn-success" ng-click="saveChangesA(item)" translate="interface.all.SAVE"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



  <!-- FIN ADMIN ########################### -->



   
  </div>
 
</div>