	/*
  	flaticon2 icon font: flaticon2
  	Creation date: 31/08/2017 19:15
  	*/

@font-face {
  font-family: "flaticon2";
  src: url("./flaticon2.eot");
  src: url("./flaticon2.eot?#iefix") format("embedded-opentype"),
       url("./flaticon2.woff") format("woff"),
       url("./flaticon2.ttf") format("truetype"),
       url("./flaticon2.svg#flaticon2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon2";
    src: url("./flaticon2.svg#flaticon2") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {   
  font-family: flaticon2;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon2-rounded-shop-cart2 :before { content: "\f100"; }
.flaticon2-bar-chart:before { content: "\f101"; }
.flaticon2-support:before { content: "\f102"; }
.flaticon2-group:before { content: "\f103"; }
.flaticon2-call-center-worker-with-headset:before { content: "\f104"; }
.flaticon2-badge:before { content: "\f105"; }
.flaticon2-trolley:before { content: "\f106"; }
.flaticon2-technology:before { content: "\f107"; }
.flaticon2-shopping-basket-1:before { content: "\f108"; }
.flaticon2-home:before { content: "\f109"; }
.flaticon2-sell-product:before { content: "\f10a"; }
.flaticon2-financial-bars-stats:before { content: "\f10b"; }
.flaticon2-homepage:before { content: "\f10c"; }
.flaticon2-shopping-basket:before { content: "\f10d"; }