    /*
    Flaticon icon font: Flaticon
    Creation date: 31/08/2017 19:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-rounded-shop-cart:before { content: "\f100"; }
.flaticon-bar-chart:before { content: "\f101"; }
.flaticon-support:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-call-center-worker-with-headset:before { content: "\f104"; }
.flaticon-badge:before { content: "\f105"; }
.flaticon-trolley:before { content: "\f106"; }
.flaticon-technology:before { content: "\f107"; }
.flaticon-shopping-basket-1:before { content: "\f108"; }
.flaticon-home:before { content: "\f109"; }
.flaticon-sell-product:before { content: "\f10a"; }
.flaticon-financial-bars-stats:before { content: "\f10b"; }
.flaticon-homepage:before { content: "\f10c"; }
.flaticon-shopping-basket:before { content: "\f10d"; }
    
    $font-Flaticon-rounded-shop-cart: "\f100";
    $font-Flaticon-bar-chart: "\f101";
    $font-Flaticon-support: "\f102";
    $font-Flaticon-group: "\f103";
    $font-Flaticon-call-center-worker-with-headset: "\f104";
    $font-Flaticon-badge: "\f105";
    $font-Flaticon-trolley: "\f106";
    $font-Flaticon-technology: "\f107";
    $font-Flaticon-shopping-basket-1: "\f108";
    $font-Flaticon-home: "\f109";
    $font-Flaticon-sell-product: "\f10a";
    $font-Flaticon-financial-bars-stats: "\f10b";
    $font-Flaticon-homepage: "\f10c";
    $font-Flaticon-shopping-basket: "\f10d";